

.button {
    background-color: var(--PurplePsi);
    border: 2px solid var(--PurplePsi);
    color: var(--TrueWhitePsi);
    width: max-content;
    height: fit-content;
    border-radius: 24px;
    padding: 0.5em 1em;
    transition: ease-in-out 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: var(--TrueWhitePsi);
    color: var(--PurplePsi);
    font-weight: bold;
}