.header_dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--LightPurplePsi);
    width: 100%;
    height: 8vh;
    padding: 0 2rem;
}

/* Área da esquerda (Botão Voltar) */
.leftIcons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Área da direita (Configurações e Logout) */
.rightIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.icon {
    color: white;
    width: 32px;
    height: 70%;
    transition: 0.3s ease-in-out;
}

.icon:hover {
    cursor: pointer;
    color: var(--PurplePsi);
}