@import url('tailwindcss');

.metodos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 105vh;
    background-color: var(--WhitePsi);
    padding-top: 1%;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 53%;
}