@import 'tailwindcss';

.input_container {
    display: flex;
    flex-direction: column;
    height: 30%;
    gap: 10px;
}

input {
    border: var(--PurplePsi) 3px solid;
    border-radius: 20px;
    background-color: var(--TrueWhitePsi);
    height: 50%;
    width: 100%;
    padding-left: 1em;
}
