@import 'tailwindcss';

.section_avaliacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--WhitePsi);
    width: 100%;
    height: 95vh;
    padding-top: 3%;
}

.swiper_avaliacoes {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 70%;
}

.swiper_content {
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover{
        transform: scale(1.05);
    }
}
