
@import 'tailwindcss';

.dados_pessoais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    background-color: var(--TrueWhitePsi);
}

.inputs_content_dados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 20em;
    margin-top: 5%;
}

@media (max-width: 1100px) {
    .inputs_content_dados {
        width: 90%;
    }
}

@media (max-width: 780px) {
    .inputs_content_dados {
        width: 95%;
    }
}