@import 'tailwindcss';

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
    background-color: var(--TrueWhitePsi);
}

.inputs_content_contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    width: 80%;
    height: 40vh;
}