@import "tailwindcss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    background-color: var(--TrueWhitePsi);
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 50%;
}