@import url('tailwindcss');

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 28%;
    height: 100%;
    border: var(--GrayPsi) 1px solid;
    background-color: var(--TrueWhitePsi);
    border-radius: 0px 0px 39px 39px;
    -moz-border-radius: 0px 0px 39px 39px;
    -webkit-border-radius: 0px 0px 39px 39px;
}

.descricao_Card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 35%;
    width: 100%;
    padding: 2%;
}

.botao {
    width: 100%;
}